.img-submenu{
    width: 14em;
    border-radius: 8px;
}

.body-submenu{
    margin-left: 8vh;
    margin-top: 6vh;
}

#card-deskripsi{
    width: 69rem;
    left: 7.6rem;
    margin-top: 8vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
}