#navbar-bg {
  background-color: rebeccapurple;
}

.logoIBIK-navbar {
  max-width: 8vh;
  /* border: ridge; */
}

.titleNavbar {
  color: white;
  text-decoration: none;
  margin-left: 1vh;
  font-weight: 500;
  /* margin-top: -10vh;
    border: ridge; */
}

.logout-btn {
  margin-right: 1vh;
  font-size: 2vh;
}

.style-submenu {
  font-size: 1.8vh;
}

.search-bar {
  margin-left: 4vh;
  margin-top: 2%;
}

.nav-item{
  margin-top: 2.5%;
  z-index: 1;
}

.sekat{
  color: white;
  margin-right: 2em;
}

.profileIcon{
  z-index: 0;
  margin-top: -1.1vh;
  margin-left: -1.6vh;
}