.imgBook {
  width: 80vh;
  height: 60vh;
  margin-left: 2vh;
  margin-right: 6vh;
}

.bookDetails {
  margin-top: 8vh;
}

.view-pdf {
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 750px;
  width: 80%;
  transform: translate(-50%, -50%) scale(0);
}

#judulBuku {
  margin-bottom: 2vh;
}

.viewer {
  padding-top: 2vh;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
}

.close-btn-popup {
  color: white;
  font-size: 4vh;
  padding-left: 45em;
}

#popup:target {
  visibility: visible;
}

.summary {
  margin-top: 6vh;
  margin-left: 10em;
}

#card-deskripsi {
  width: 69rem;
  left: 7.6rem;
  margin-top: 8vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
}

.carousel-book {
  margin-top: 8vh;
}

#card-buku {
  height: 34rem;
}
